#section12 {
    width: 100vw;
    min-height: 100vh;
    padding: 120px 5%;
    /* background: linear-gradient(135deg, #1146d9, #2a52f4); */
    background-image: url("/assets/1.jpg");
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#section12>h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section12-inner {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, rgba(23, 59, 113, 0.8), rgba(28, 44, 86, 0.95));
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section12-inner:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.section12-inner-left {
    flex: 1;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.section12-inner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.section12-inner-left img:hover {
    transform: scale(1.05);
}

.section12-inner-right {
    flex: 1;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section12-inner-right h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ffffff;
}

.section12-inner-right h1 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    color: white;
}

span {
    display: inline-block;
}

@media (max-width: 800px) {
    .section12{
        padding-top: 140px;
    }
    .section12-inner {
        flex-direction: column;
    }

    .section12-inner-right {
        padding: 15px 20px;
    }

    #section12>h1 {
        font-size: 2.5rem;
    }

    .section12-inner-right h1 {
        font-size: 1.2rem;
    }
}