#main {
  position: relative;
  overflow: hidden;
  /* overflow-x: hidden; */
  background: #0039d4;
  /* scroll-behavior: smooth; */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #093dcd 0%, #214cfb 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: 'a', sans-serif;
  transition: opacity 0.5s ease;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-screen h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #093dcd 0%, #214cfb 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  color: white;
  font-family: a;
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.dots::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }

  33% {
    content: '.';
  }

  66% {
    content: '..';
  }

  100% {
    content: '...';
  }
}


/* Locomotive css */
/* 
html, body {
    height: 100%;
  }
  
  
  [data-scroll-container] {
    overflow: hidden;
  }
   */

.iframe-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #153fb1ff 0%, #16165aff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-circle {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.iframe-loading-screen h2 {
  color: #fff;
  font-family: a;
  font-size: 1.8rem;
  animation: blink 1.5s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}